<configuration>
	<system.serviceModel>
		<services>
			<service name="Tokenization.Server.TokenizationService">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="Tokenization.Contracts.ITokenizationService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/TokenService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>
